.app-footer {
  width: 100%;
  background: #001753;
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: static;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.footer-left {
  opacity: 0.8;
}
.footer-right {
  opacity: 0.8;
}
